<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>April 1, 2022</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>09:00</td>        <!-- time    -->
        <td>Automating Tasks with the Unix Shell</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>11:00</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>11:30</td>        <!-- time    -->
        <td>Automating Tasks with the Unix Shell</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>13:00</td>        <!-- time    -->
        <td>End</td>        <!-- content -->
      </tr>      
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>April 8, 2022</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>09:00</td>        <!-- time    -->
        <td>Version Control with Git</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>11:00</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>11:30</td>        <!-- time    -->
        <td>Version Control with Git</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>13:00</td>        <!-- time    -->
        <td>End</td>        <!-- content -->
      </tr>      
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>April 15, 2022</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>09:00</td>        <!-- time    -->
        <td>Plotting and Programming in Python - Part 1</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>11:00</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>11:30</td>        <!-- time    -->
        <td>Plotting and Programming in Python - Part 1</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>13:00</td>        <!-- time    -->
        <td>End</td>        <!-- content -->
      </tr>      
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>April 22, 2022</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>09:00</td>        <!-- time    -->
        <td>Plotting and Programming in Python - Part 1</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>11:00</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>11:30</td>        <!-- time    -->
        <td>Plotting and Programming in Python - Part 1</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>End</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>
